{% extends 'base.html.twig' %}

{% block title %}Iniciar sesión{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/auth.css') }}">
{% endblock %}
{% block page_class %}page-auth{% endblock %}


{% block body %}
<div class="auth-container">
    <h1>Iniciar sesión</h1>

    <form method="post">
        <div>
            <label for="inputEmail">Correo electrónico</label>
            <input type="email" name="email" id="inputEmail" required autofocus>
        </div>

        <div>
            <label for="inputPassword">Contraseña</label>
            <input type="password" name="password" id="inputPassword" required>
        </div>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}">

        <button type="submit">Entrar</button>
    </form>

    <p style="margin-top:10px; text-align:center;">
        ¿No tienes cuenta?
        <a href="{{ path('app_registro') }}">Regístrate</a>
    </p>
</div>
{% endblock %}