.auth-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 6px;
    background-color: #fff;
}

.page-auth {
    min-height: calc(100vh - 64px);
    display: flex;
    justify-content: center;
    align-items: center;
}
